* {
    padding:0px;
    margin: 0px;
}

body {
    height: 500px;
    width: 500px;
    text-align: center;
    padding-left: 100px;
}

div {
    height:200px;
    padding-top: 200px;
    margin: auto 0;
}